




 @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');




 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 

 
 body {
	 font-family: "Hanken+Grotesk", sans-serif;
	 font-optical-sizing: auto;
	 font-size: 20px;
	 margin: auto;
	 padding: 20px;
	 max-width: 65ch;
	 text-align: left;
	 background-color: #fff;
	 word-wrap: break-word;
	 overflow-wrap: break-word;
	 line-height: 1.5;
	 color: rgb(0, 0, 0);
	 min-height: 90vh;
	 display: flex;
	 flex-direction: column;
	
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 strong,
 b {
	 color: rgb(0, 0, 0);
 }
 
 
 
 a {
	 color: black;
	 /*color: #3273dc; */
	 text-decoration: underline;
	 text-decoration-thickness: 0.75pt;
	 text-underline-offset: 3px;
	 text-decoration-skip: 0.5pt;
	 text-decoration-color: gray;
	
	 

 }
 a:hover {
	 text-decoration: underline;
	 text-decoration-color: #3273dc; 
	 text-decoration-thickness: 1pt;
 }
 
 a[href$="pdf"]:after { /* href attribute ends with pdf */
	 content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/pdficon_small.png);
	 padding-left: .3em;
 }
 

 a.morelink {
  /*color: #2d6a4f;*/
	/*color: #3273dc;*/
  font-weight: 500;
	color: black;

}




 nav a {
	 margin-right: 10px;
 }
 textarea {
	 width: 100%;
	 font-size: 16px;
 }
 input {
	 font-size: 16px;
 }
 content {
	 line-height: 1.6;
 }
 table {
	 width: 100%;
 }
 img {
	 max-width: 100%;
	 height: auto;
	 border-radius: 3%;
 }
 code {
	 padding: 2px 5px;
	 background-color: #f2f2f2;
 }
 pre {
	 padding: 1rem;
 }
 pre > code {
	 all: unset;
 }
 blockquote {
	 border: 1px solid #999;
	 color: #222;
	 padding: 2px 0px 2px 20px;
	 margin: 0px;
	 font-style: italic;
 }
 

.center {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 width: 50%;
 }
 
 .site-header {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 font-optical-sizing: auto;
	 
 }
 
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-optical-sizing: auto;

  /* Estilo de fundo e padding */
  background-color: #1c1c1c; /* fundo escuro */
  padding: 1em 2em;
}

/* Logo */
.site-header .brand .site-logo {
  height: 2em; /* ajuste conforme desejar */
  vertical-align: middle;
}

/* Navbar links */
.site-header .links {
  display: flex;
  gap: 1.5em; /* espaçamento entre links */
  align-items: center;
}

.site-header .links a {
  color: #f0f0f0; /* links claros */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.site-header .links a:hover {
  color: #ffd700; /* destaque ao passar o mouse */
}

/* Margem geral do header */
header {
  margin: 0 0 2em;
}
/* Header fixo no topo, fundo escuro, largura total */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Ocupar toda a largura da tela */
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  background-color: #1c1c1c;
  padding: 1em 2em;
  box-sizing: border-box;
}

/* Mantém o conteúdo do header centralizado */
.site-header .header-inner {
  max-width: 65ch; /* mesma largura do main-content */
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}








 .links {
	 display: flex;
	 align-items: center;
	  margin-left: auto;
	 justify-content: space-between;
	 font-size: 18px;
	 font-weight: 500;

 }


 
 .nav-links {
	 display: flex;
	 gap: 1rem;
 }
 
 
 nav.links a.brand {
	 font-size: 20px;
	 font-weight: 600;
	 letter-spacing: 0.03em;
 }
 
 nav.links .brand-name {
	 font-style: italic;
 }
 
 nav.links .brand-domain {
	 font-style: normal;
	 font-size: 18px;
	 opacity: 0.8;
 }
 
.site-logo {
    height: 2em; /* ajuste a altura como quiser */
    vertical-align: middle;
  }
 

 
 h1
 {
	 
	 font-optical-sizing: auto;
	 
 
 }
 
 
 h2,h3,
 h4,
 h5,
 h6{
	
	 font-optical-sizing: auto;
	 font-weight: 500;
 }
 
 
 h1
 {
	 font-size: 24px;
 }
 
 h2
 {
	 font-size: 22px;
 
 }
 
 h3
 {
	 font-size: 18px;
 }
 
 
 .profile_pic {
	 float:right;
	 width:12rem;
	 border-radius: 10px;
	 margin:0em 0em .7em .7em;
	 }
 

 
	 

