




 @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');




 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 

 
 body {
	 font-family: "Hanken+Grotesk", sans-serif;
	 font-optical-sizing: auto;
	 font-size: 20px;
	 margin: auto;
	 padding: 20px;
	 max-width: 65ch;
	 text-align: left;
	 background-color: #fff;
	 word-wrap: break-word;
	 overflow-wrap: break-word;
	 line-height: 1.5;
	 color: rgb(0, 0, 0);
	 min-height: 90vh;
	 display: flex;
	 flex-direction: column;
	
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 strong,
 b {
	 color: rgb(0, 0, 0);
 }
 
 
 
 a {
	 color: black;
	 /*color: #3273dc; */
	 text-decoration: underline;
	 text-decoration-thickness: 0.75pt;
	 text-underline-offset: 3px;
	 text-decoration-skip: 0.5pt;
	 text-decoration-color: gray;
	
	 

 }
 a:hover {
	 text-decoration: underline;
	 text-decoration-color: #3273dc; 
	 text-decoration-thickness: 1pt;
 }
 
 a[href$="pdf"]:after { /* href attribute ends with pdf */
	 content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/pdficon_small.png);
	 padding-left: .3em;
 }
 

 a.morelink {
  /*color: #2d6a4f;*/
	/*color: #3273dc;*/
  font-weight: 500;
	color: black;

}




 nav a {
	 margin-right: 10px;
 }
 textarea {
	 width: 100%;
	 font-size: 16px;
 }
 input {
	 font-size: 16px;
 }
 content {
	 line-height: 1.6;
 }
 table {
	 width: 100%;
 }
 img {
	 max-width: 100%;
	 height: auto;
	 border-radius: 3%;
 }
 code {
	 padding: 2px 5px;
	 background-color: #f2f2f2;
 }
 pre {
	 padding: 1rem;
 }
 pre > code {
	 all: unset;
 }
 blockquote {
	 border: 1px solid #999;
	 color: #222;
	 padding: 2px 0px 2px 20px;
	 margin: 0px;
	 font-style: italic;
 }
 

.center {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 width: 50%;
 }
 
 .site-header {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 font-optical-sizing: auto;
	 
 }
 

 .links {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 font-size: 18px;
	 font-weight: 500;

 }


 
 .nav-links {
	 display: flex;
	 gap: 1rem;
 }
 
 
 nav.links a.brand {
	 font-size: 20px;
	 font-weight: 600;
	 letter-spacing: 0.03em;
 }
 
 nav.links .brand-name {
	 font-style: italic;
 }
 
 nav.links .brand-domain {
	 font-style: normal;
	 font-size: 18px;
	 opacity: 0.8;
 }
 
 

 
 h1
 {
	 font-family: "STIX Two Text", serif;
	 font-optical-sizing: auto;
	 font-style: italic;
	 font-weight: 500;
 
 }
 
 
 h2,h3,
 h4,
 h5,
 h6{
	
	 font-optical-sizing: auto;
	 font-weight: 500;
 }
 
 
 h1
 {
	 font-size: 24px;
 }
 
 h2
 {
	 font-size: 22px;
 
 }
 
 h3
 {
	 font-size: 18px;
 }
 
 
 .profile_pic {
	 float:right;
	 width:12rem;
	 border-radius: 10px;
	 margin:0em 0em .7em .7em;
	 }
 

 
	 

