---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Section from '../components/Section.astro';
---

<!DOCTYPE html>
<html lang="pt-Br">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="sitemap" href="/sitemap-index.xml" />




	</head>
	<body>
	
		<Header title={SITE_TITLE} />
		<main style="margin: auto 0;">

			<div class="spacer"></div>
			
      <img src="/hero.svg" alt="Hero" class="hero-img" />
<p class="text-hero-center">Consultoria em criação de conteúdo, estruturação de processos e gestão comercial para seu negócio</p>
<hr>
 <section class="sobre">
    <h2>Quem somos</h2>
    
    <img src="/logo.png" 
         class="profile_pic" 
         alt="Vaccari Consultoria" />
    <p class="text-hero">
      A Vaccari Consultoria é especializada na estruturação estratégica de negócios. </p><p class="text-hero">Atuamos no posicionamento nas redes sociais, organização de processos e fortalecimento da gestão comercial, desenvolvendo estratégias com método, clareza e foco em resultados sustentáveis.</p>
      <div class="spacer"></div> 
 
  </section>
		
<hr>
<section id="planos">
  <h2>Conheça nossos planos</h2>

  <div class="services">
    <blockquote>
      <h3><img src="/logo-icon-preto.svg" width=30px> Base </h3>


	  <div class="price">
        <span class="currency">R$</span>
        <span class="value">1500</span>
        <span class="period">/mês</span>
      </div>

      <ul class="service-list">
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Análise e Diagnóstico do Instagram
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Planejamento estratégico de conteúdo
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Cronograma de conteúdo para Feed e Stories
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Monitoramento do Direct
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Relatório de métricas do desempenho de conteúdo
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Encontros no Meet: 3
        </li>
        <li class="inactive">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
          Encontros adicionais.
        </li>
        <li class="inactive">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
          Análise e criação de processos internos
        </li>
        <li class="inactive">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
          Personalização de ambiente no Notion
        </li>
        <li class="inactive">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
          Mentoria WhatsApp: treinamento de atendimento a clientes
        </li>
        <li class="inactive">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
          Planejamento de campanhas promocionais
        </li>
      </ul>
      
	<p><a href="https://wa.me/5527999343795?text=Ol%C3%A1,%20Sarah!%20Estou%20interessado%20no%20*Plano%20Base.*%20Quero%20saber%20mais!" target="_blank" class="button-86">Contratar</a></p></blockquote>

  <blockquote>
      <h3><img src="/logo-icon-preto.svg" width=30px> Crescimento</h3>

	  <div class="price">
        <span class="currency">R$</span>
        <span class="value">3000</span>
        <span class="period">/mês</span>
      </div>
      
    <ul class="service-list">
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Análise e Diagnóstico do Instagram
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Planejamento estratégico de conteúdo
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Cronograma de conteúdo para Feed e Stories
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Monitoramento do Direct
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Relatório de métricas do desempenho de conteúdo
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Encontros no Meet: 3
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Encontro adicional
        </li>
        

        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
          Análise e criação de processos internos
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
          Personalização de ambiente no Notion
        </li>
        <li class="inactive">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
          Mentoria WhatsApp: treinamento de atendimento a clientes
        </li>
        <li class="inactive">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
          Planejamento de campanhas promocionais
        </li>
      </ul>	<p><a href="https://wa.me/5527999343795?text=Ol%C3%A1,%20Sarah!%20Estou%20interessado%20no%20*Plano%20Crescimento.*%20Quero%20saber%20mais!" target="_blank" class="button-86">Contratar</a></p></blockquote>

<blockquote>
      <h3><img src="/logo-icon.svg" width=30px> Elite </h3>

	  <div class="price">
        <span class="currency">R$</span>
        <span class="value">5000</span>
        <span class="period">/mês</span>
      </div>
    <ul class="service-list">
       <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Análise e Diagnóstico do Instagram
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Planejamento estratégico de conteúdo
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Cronograma de conteúdo para Feed e Stories
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Monitoramento do Direct
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Relatório de métricas do desempenho de conteúdo
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Encontros no Meet: 3
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Encontros adicionais
        </li>


        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
          Análise e criação de processos internos
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
          Personalização de ambiente no Notion
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
          Mentoria WhatsApp: treinamento de atendimento a clientes
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
          Planejamento de campanhas promocionais
        </li>
      </ul>	<p><a href="https://wa.me/5527999343795?text=Ol%C3%A1,%20Sarah!%20Estou%20interessado%20no%20*Plano%20Elite.*%20Quero%20saber%20mais!" target="_blank" class="button-86">Contratar</a></p></blockquote>

  </div>
</section>



<hr>
<section id="clientes">
  <div class="testimonial">
  <h2>Depoimentos de clientes</h2>	
  <blockquote>⭐⭐⭐⭐⭐ <br />
  A consultoria mudou completamente a minha empresa, só tenho elogios!!! <br /> - Dr. Hugo Bandeira</blockquote>
  <blockquote>⭐⭐⭐⭐⭐ <br />
  A consultoria é criteriosa, ela lê o seu negócio e respeita seus propósitos e valores! <br />- Allana Caroline</blockquote>
  <blockquote>
  ⭐⭐⭐⭐⭐ <br /> Uma consultoria que gera bons resultados e bons rendimentos.
  Super indico. </br> - Nathali Menezes</blockquote>

  </div>
  </section> 
<!-- <hr>
  <h2>Clientes</h2>	
  <div class="client-logos">
  <div class="logo"><img src="/bandeira.jpeg" alt="Hugo Bandeira Advogado"></div>
  <div class="logo"><img src="/jej.jpeg" alt="J&J Consultoria de Alimentos"></div>
  </div> -->
 


	


		
		</main>
    <Footer>
		</Footer>
	</body>
</html>
