---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Section from '../components/Section.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="sitemap" href="/sitemap-index.xml" />




	</head>
	<body>
	
		<Header title={SITE_TITLE} />
		<main style="margin: auto 0;">

			<div class="spacer"></div>
			<div class="spacer"></div>

			<img src="https://images.unsplash.com/photo-1513128034602-7814ccaddd4e?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width:220px;" class="profile_pic" >
			<h1>Vaccari Consultoria</h1>
			
			<h2>Consultoria em Planejamento Estratégico, Captação de Clientes & Redes Sociais</h2>
			<p><a href="/#Contato" class="button-86">
  Button 86
</a></p>

				<div class="spacer"></div>
			<div class="spacer"></div>

			<img src="https://images.unsplash.com/photo-1513128034602-7814ccaddd4e?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width:220px;" class="profile_pic" >
			<h1>Vaccari Consultoria</h1>
			
			<h2>Consultoria em Planejamento Estratégico, Captação de Clientes & Redes Sociais</h2>
			<button class="button-86" role="button">Button 86</button>
	<div class="spacer"></div>
			<div class="spacer"></div>

			<img src="https://images.unsplash.com/photo-1513128034602-7814ccaddd4e?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width:220px;" class="profile_pic" >
			<h1>Vaccari Consultoria</h1>
			
			<h2>Consultoria em Planejamento Estratégico, Captação de Clientes & Redes Sociais</h2>
			<button class="button-86" role="button">Button 86</button>

		
		</main>
		<Footer />
	</body>
</html>
