---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Section from '../components/Section.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="sitemap" href="/sitemap-index.xml" />




	</head>
	<body>
	
		<Header title={SITE_TITLE} />
		<main style="margin: auto 0;">

			<div class="spacer"></div>
			
      <img src="/hero.svg" alt="Hero" class="hero-img" />
<p class="text-hero-center">Consultoria em criação de conteúdo, estruturação de processos e gestão comercial para seu negócio</p>
<hr>
 <section class="sobre">
    <h2>Quem somos</h2>
    
    <img src="https://instagram.fplu21-1.fna.fbcdn.net/v/t51.82787-15/622280760_18056897537694217_385655465135426191_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=110&ig_cache_key=MzQyNTE5NjQwMTI3OTkyODkxMg%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEwODB4NzIxLnNkci5DMyJ9&_nc_ohc=O9lXju1IfB4Q7kNvwEFLuAE&_nc_oc=Adl7aThvjmAkBBODr0rwaKgdCFP0xRaZDHxEyzKvin3knLxcquzXFjzQNcd1NB1cw4z-ruq1tA_N_a2eD71FyHtE&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=instagram.fplu21-1.fna&_nc_gid=BsjMo2xS7LvNQ4eWQDY_Ew&oh=00_Afu22BWUzl01hpeh1lFe7s-Cmva2HrLKU96mGJ6RBJbt4A&oe=69A6BAA8" 
         class="profile_pic" 
         alt="Sarah Vaccari" />
    <p class="text-hero">
      A Vaccari Consultoria atua na estruturação de processos, gestão comercial e organização estratégica de empresas.</p><p class="text-hero"> Desenvolvemos diagnósticos, otimizamos fluxos e criamos planejamento de marketing com cronograma estruturado, ajudando negócios a crescerem com método, clareza e resultados concretos.</p>
  </section>
		
<hr>
<section id="planos">
  <h2>Conheça nossos planos</h2>

  <div class="services">
    <blockquote>
      <h3><img src="/logo-icon-preto.svg" width=30px> Base </h3>


	  <div class="price">
        <span class="currency">R$</span>
        <span class="value">700</span>
        <span class="period">/mês</span>
        </br>25% off • 3 meses
      </div>

      <ul class="service-list">
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Análise e Diagnóstico do Instagram
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Planejamento estratégico de conteúdo
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Criação de conteúdo personalizado
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Monitoramento e ajustes contínuos
        </li>

        <li class="inactive">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
          Análise e criação de processos internos
        </li>
        <li class="inactive">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
          Personalização de ambiente no Notion
        </li>
        <li class="inactive">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
          Mentoria WhatsApp: treinamento de atendimento a clientes
        </li>
      </ul>
      
	<p><a href="/#Contato" class="button-86">Contratar</a></p></blockquote>

  <blockquote>
      <h3><img src="/logo-icon-preto.svg" width=30px> Crescimento</h3>

	  <div class="price">
        <span class="currency">R$</span>
        <span class="value">1200</span>
        <span class="period">/mês</span>
        </br>25% off • 3 meses
      </div>
      
    <ul class="service-list">
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Análise e Diagnóstico do Instagram
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Planejamento estratégico de conteúdo
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Criação de conteúdo personalizado
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Monitoramento e ajustes contínuos
        </li>

        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
          Análise e criação de processos internos
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
          Personalização de ambiente no Notion
        </li>
        <li class="inactive">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 6L6 18M6 6l12 12"/>
          </svg>
          Mentoria WhatsApp: treinamento de atendimento a clientes
        </li>
      </ul>	<p><a href="/#Contato" class="button-86">Contratar</a></p></blockquote>

<blockquote>
      <h3><img src="/logo-icon.svg" width=30px> Elite </h3>

	  <div class="price">
        <span class="currency">R$</span>
        <span class="value">2500</span>
        <span class="period">/mês</span>
        </br>25% off • 3 meses
      </div>
    <ul class="service-list">
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Análise e Diagnóstico do Instagram
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Planejamento estratégico de conteúdo
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Criação de conteúdo personalizado
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
         Monitoramento e ajustes contínuos
        </li>

        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
          Análise e criação de processos internos
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
          Personalização de ambiente no Notion
        </li>
        <li class="active">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5L4 14.2 9 19l11-11-1.5-1.5z"/>
          </svg>
          Mentoria WhatsApp: treinamento de atendimento a clientes
        </li>
      </ul>	<p><a href="/#Contato" class="button-86">Contratar</a></p></blockquote>

  </div>
</section>



<hr>
<section id="clientes">
  <div class="testimonial">
  <h2>Depoimentos de clientes</h2>	
  <blockquote>⭐⭐⭐⭐⭐ <br />
  A consultoria mudou completamente a minha empresa, só tenho elogios!!! <br /> - Dr. Hugo Macêdo</blockquote>
  <blockquote>⭐⭐⭐⭐⭐ <br />
  A consultoria é criteriosa, ela lê o seu negócio e respeita seus propósitos e valores! <br />- Allana Caroline</blockquote>
  <blockquote>
  ⭐⭐⭐⭐⭐ <br /> Uma consultoria que gera bons resultados e bons rendimentos.
  Super indico. </br> - Nathali Menezes</blockquote>

  </div>
  </section>
<hr>
  <h2>Clientes</h2>	
  <div class="client-logos">
  <div class="logo"><img src="/bandeira.jpeg" alt="Hugo Bandeira Advogado"></div>
  <div class="logo"><img src="/jej.jpeg" alt="J&J Consultoria de Alimentos"></div>
  </div> 
 


	


		
		</main>
    <Footer>
		</Footer>
	</body>
</html>
