---
const today = new Date();
---

<footer class="footer">
  <section class="sobre-footer">
    <h2>Sobre mim</h2>
    <img src="/sarah-10.png" 
         class="profile" 
         alt="Sarah Vaccari" />
    <p class="text-hero">
      Eu sou <span class="destaque">Sarah Vaccari</span> 💛
    </p>


    
    <p class="text-hero">
      Minha trajetória foi construída nas vendas e, com minha formação em Engenharia, desenvolvi um olhar estratégico e analítico para estruturar empresas com clareza e método.
    </p>
    <p class="text-hero">
      Hoje, meu propósito é ajudar empreendedores a organizarem processos, fortalecerem o comercial e crescerem de forma estruturada. Além de ensiná-los a se posicionarem nas redes sociais com estratégia.
Vamos caminhar juntos? 🚀 </p><p class="text-hero"><a href="https://instagram.com/vaccariconsultoria"><img src="/instagram.png" class="footer-icon" alt="Instagram" /></a>
  <a href="https://wa.me/5527999343795?text=Ol%C3%A1,%20Sarah!%20Estou%20interessado%20na%20*Consultoria.*%20Quero%20saber%20mais!" target="_blank"><img src="/whatsapp.png" class="footer-icon" alt="WhatsApp" /></a></p>

  </section>

  </footer>
<style>
/* H2 branco */
.sobre-footer h2 {
  color: #000000;
}

/* Texto principal */
.text-hero {
  margin: 16px 16px 16px 16px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000000; /* COR CORRETA */
}

/* Destaque dentro do texto */
.text-hero .destaque {
  font-weight: 600;
}



/* Footer */
.footer {
  width: 100%;  
  background: #ffffff;
  color: #000000;             
  min-height: 80px;        
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 20px;
  font-family: "Inter", sans-serif;
  border-radius: 8px;   
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); 
  gap: 30px;              
  box-sizing: border-box;
}

/* Ícones do footer */
.sobre-footer .footer-icon {
  width: 50px;
  height: 50px;
 }





/* Imagem de perfil grande */
.profile {
	 float:left;
	 width:13rem;
	 border-radius: 10px;
	 margin:0em 1em .7em .7em;
	 }
</style>
