---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="site-header">
  <div class="header-inner">
  	<a href="/" class="brand">
        <img src="/vaccari-consultoria-logo.png" alt="Neemias Logo" class="site-logo" />
      </a>
    <nav class="links">
      
      <a href="/#servicos">Serviços</a>
      <a href="/#clientes/">Clientes</a>
      <a href="/#contato/">Contato</a>
    
    </nav>
    <div class="backdrop"></div>
    <!-- <div class="backdrop-edge"></div> -->
  </div>
</header>