---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="site-header">
  <div class="header-inner"><h1>
  	<a href="/" class="brand">
        <img src="/vaccari-consultoria-logo-preto.png" alt="Vaccari Consultoria" class="site-logo" />
      </a></h1>
    <!-- <nav class="links">
      
      <a href="/#planos">Planos</a>
      <a href="/#clientes/">Clientes</a>
      <a href="/#sobre/">Sobre mim</a>
    
    </nav> -->
    <div class="backdrop"></div>
    <!-- <div class="backdrop-edge"></div> -->
  </div>
</header>