---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import ThemeIcon from './ThemeIcon.astro';
---

<header class="site-header">

<nav class="links">
<!--
<a href="/" class="brand">
    <span class="brand-name">neemias</span><span class="brand-domain">.org</span>
  </a>-->
<a href="/">about</a>	
<a href="/research/">research</a> <a href="/teaching/">teaching</a> <a href="/br/">pt-br</a></nav><ThemeIcon /> 
<!--<a href="/teaching/">Teaching<sup><img src="/img/brasil.png" alt="Brazilian flag" style="height:0.8em;">-->	
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
